@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src:
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src:
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Canela';
    font-weight: 500;
    src:
        url('../fonts/CanelaCondensed-Medium-Trial.woff2') format('woff2'),
        url('../fonts/CanelaCondensed-Medium-Trial.woff') format('woff');
    font-display: swap;
}