*::-webkit-scrollbar {
    width: 12px;               
}
*::-webkit-scrollbar-track {
    background: $background;    
    opacity: 0.05;  

}
*::-webkit-scrollbar-thumb {
    background-color: $accent;    
    border-radius: 0px;    
    opacity: 0.05;     
    border: 3px solid $accent; 
}
*{
    scrollbar-color: $background;
}