section.art-of-week
    .container
        .art-of-week__content
            .art-of-week__top
                h2.art-of-week__title.title <span class="accent">Amazing</span> and Super Unique Art of This <span class="accent">Week</span>
                button.btn See&nbsp;All
            .art-of-week__items 
                .art-card(data-aos="flip-up" data-aos-duration="1000")
                    picture
                        source(srcset="img/art1.webp" type="image/webp")
                        img.art-card__image(src="img/art1.png" alt="")
                    .art-card__content
                        .art-card__name Cyberpunk Cocomo
                        .art-card__cost 490ETH
                        .art-card__ending-block 
                            .art-card__ending Ending In
                            .art-card__time 03:24:56
                        button.btn.btn_border.art-card__btn Place A Bid
                .art-card(data-aos="flip-up" data-aos-duration="1000" data-aos-delay="150")
                    picture
                        source(srcset="img/art2.webp" type="image/webp")
                        img.art-card__image(src="img/art1.png" alt="")
                    .art-card__content
                        .art-card__name Charge, Qi tiao yu
                        .art-card__cost 490ETH
                        .art-card__ending-block 
                            .art-card__ending Ending In
                            .art-card__time 03:24:56
                        button.btn.btn_border.art-card__btn Place A Bid
                .art-card(data-aos="flip-up" data-aos-duration="1000" data-aos-delay="300")
                    picture
                        source(srcset="img/art3.webp" type="image/webp")
                        img.art-card__image(src="img/art1.png" alt="")
                    .art-card__content
                        .art-card__name Surgeon, Josh Rife
                        .art-card__cost 490ETH
                        .art-card__ending-block 
                            .art-card__ending Ending In
                            .art-card__time 03:24:56
                        button.btn.btn_border.art-card__btn Place A Bid