section.artists
    .container
        .artists__content(data-aos="fade-out" data-aos-duration="1000")
            .artists__top
                h2.title.artists__title Popular <span class="accent">Artists</span> On This Week
                button.btn.artists__btn See&nbsp;All
            .artists__grid 
                .artist-item.artist-item_sm
                    a.artist-item__link(href="#")
                    .artist-item__image-wrapper
                        picture
                            source(srcset="img/poular1.webp" type="image/webp")
                            img.artist-item__image(src="img/poular1.png" alt="" width="300" height="311")
                    a.artist-item__author(href="#")
                        .artist-item__avatar-wrapper
                            img.artist-item__avatar(src="img/ava1.png" alt="")
                        .artist-item__info
                            p.artist-item__owner Owner
                            p.artist-item__name Osvaldo Percy
                .artist-item.artist-item_bg
                    a.artist-item__link(href="#")
                    .artist-item__image-wrapper
                        picture
                            source(srcset="img/popular2.webp" type="image/webp")
                            img.artist-item__image(src="img/popular2.png" alt="" width="520" height="311")
                    a.artist-item__author(href="#")
                        .artist-item__avatar-wrapper
                            img.artist-item__avatar(src="img/ava2.png" alt="")
                        .artist-item__info
                            p.artist-item__owner Owner
                            p.artist-item__name Ranson Sqiure
                .artist-item.artist-item_md-v
                    a.artist-item__link(href="#")
                    .artist-item__image-wrapper
                        picture
                            source(srcset="img/popular3.webp" type="image/webp")
                            img.artist-item__image(src="img/popular3.png" alt="" width="410" height="652")
                    a.artist-item__author(href="#")
                        .artist-item__avatar-wrapper
                            img.artist-item__avatar(src="img/ava3.png" alt="")
                        .artist-item__info
                            p.artist-item__owner Owner
                            p.artist-item__name Cristio leo
                .artist-item.artist-item_md
                    a.artist-item__link(href="#")
                    .artist-item__image-wrapper
                        picture
                            source(srcset="img/popular4.webp" type="image/webp")
                            img.artist-item__image(src="img/popular4.png" alt="" width="410" height="311")
                    a.artist-item__author(href="#")
                        .artist-item__avatar-wrapper
                            img.artist-item__avatar(src="img/ava4.png" alt="")
                        .artist-item__info
                            p.artist-item__owner Owner
                            p.artist-item__name Sebastian waltan
                .artist-item.artist-item_md
                    a.artist-item__link(href="#")
                    .artist-item__image-wrapper
                        picture
                            source(srcset="img/popular5.webp" type="image/webp")
                            img.artist-item__image(src="img/popular5.png" alt="" width="410" height="311")
                    a.artist-item__author(href="#")
                        .artist-item__avatar-wrapper
                            img.artist-item__avatar(src="img/ava5.png" alt="")
                        .artist-item__info
                            p.artist-item__owner Owner
                            p.artist-item__name Abraham Zack