section.best
    .container
        .best__content(data-aos="fade-out" data-aos-duration="1000")
            .best__block
                h2.title.best__title Create And Sell Your <span class="accent">Best NFTs</span>
                .best__info.
                    Start exploring the world of digital art and NFTs today and take control of your digital assets with confidence!
                .best__buttons
                    button.btn Create Now
                    button.btn-more Learn More