section.hero
    .container
        .hero__content
            .hero__item(data-aos="fade-right" data-aos-duration="800")
                h1.hero__title Discover and Collect The Best NFTs <span>Digital Art.</span>
                .hero__text.
                    Get started with the easiest and most secure platform to buy and trade digital ART and NFT’s. Start exploring the world of digital art and NFTs today and take control of your digital assets with confidence!
                .hero__buttons
                    button.btn Explore Now
                    button.btn-more Learn More
                .hero__stats
                    .hero__stats-item 
                        p.hero__stats-item-count <span>8.9</span>K
                        p Art work
                    .hero__stats-item 
                        p.hero__stats-item-count <span>65</span>K
                        p Artist
                    .hero__stats-item 
                        p.hero__stats-item-count <span>87</span>K
                        p Collection
            .hero__item.hero__item_art-work(data-aos="fade-left" data-aos-duration="1500")
                .hero__item-image-wrapper
                    picture
                        source(srcset="img/hero.webp" type="image/webp")
                        img.hero__item-image(src="img/hero.png" alt="" width="464" height="544")
                .hero__bid
                    .hero__bid-info
                        .hero__bid-info-item 
                            p.hero__bid-info-item-text Ends in
                            p.hero__bid-info-item-value#bidtimer 05:45:47
                        .hero__bid-info-item 
                            p.hero__bid-info-item-text Current bid
                            p.hero__bid-info-item-value#bidprice 0.24ETH
                    button.btn.btn_border.hero__bid-info-btn Place A Bid