section.subscribe
    .container
        .subscribe__content(data-aos="fade-out" data-aos-duration="1000")
            .subscribe__block
                h2.title.subscribe__title Subscribe And <span class="accent">get our</span> <span class="accent">Updates</span> Every Week
                .subscribe__info.
                    We have a blog related to NFT so we can share thoughts and routines on our blog which is updated weekly
                .subscribe__form
                    input.subscribe__form-input(type="email" placeholder="Enter your e-mail" required)
                    button.btn(type="submit") Subscribe
